:root{
  --maincolor: #39A6A3;
  --subcolor: #DEEEEA;
  --accentcolor: #BF1363;
  --color: #231E23;
  --colors: #6d6d6d;
}

.page {
  width: 100vw;
  height: 95vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.accountForm {
  width: 500px;
  height: 600px;
  box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
  background-color: #ffffff;
  border-radius: 10px;
}

.subtitle {
  text-align: center;
  margin-top: 30px;
}

.inputBox {
  width: 400px;
  height: 40px;
  font-size: 20px;
  margin:0px 50px;
}

.sendbutton {
  width:200px;
  height: 40px;
  font-size: 20px;
  margin: 50px 150px 0px 150px;
}

.loginpage{
  margin: 5px auto 0px 180px;
  font-size: 8px;
}

.note {
  font-size: 4px;
  margin: 0px 50px;
  color: var(--colors);
}


