<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./styles/account.css">
  <title>クムシフ</title>
</head>

<body>
  <div class ="page">
    <div class="accountForm">
      <div class="titlemessage">
        <h3>新規登録</h3>
      </div>
      <form method="post" action="/">
        <div>
          <div>
            <input type="text" name="username" placeholder="username">
          </div>
          <div>
            <input type="text" name="userid" placeholder="userid"><span id="note">3文字以上15文字以内 半角英数字</span>
          </div>
          <div>
            <input type="text" name="address" placeholder="address">
          </div>
          <div>
            <input type="password" name="pass" placeholder="password"><span id="note">半角英数字 大文字小文字どちらも使うこと</span>
          </div>
          <div>
            <input type="password" name="pass_2" placeholder="確認用 password">
          </div>
        </div>
        <button type="submit">登録</button>
      </form>
      <div>
        <p>すでに登録済みの方はこちら</p>
        <a href="http://localhost:8000/login">ログイン</a>
      </div>
    </div>
  </div>
</body>

</html>