<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./styles/account.css">
  <title>クムシフ</title>
</head>

<body>
  <div class ="page">
    <div class="accountForm">
      <div class="titlemessage">
        <h3 class="subtitle">新規登録</h3>
      </div>
      <form method="post" action="/signup">
        <div>
          <div>
            <h5>username</h5>
            <input type="text" name="username" class="inputBox">
          </div>
          <div>
            <h5>userid</h5>
            <input type="text" name="userid" class="inputBox"><span id="note"></span>
          </div>
          <div>
            <h5>address</h5>
            <input type="text" name="address" class="inputBox">
          </div>
          <div>
            <h5>password</h5>
            <input type="password" name="pass" class="inputBox"><span id="note"></span>
          </div>
        </div>
        <button type="submit" class="sendbutton">登録</button>
      </form>
      <div>
        <a href="http://localhost:8000/login" class="loginpage">アカウントをお持ちですか？</a>
      </div>
    </div>
  </div>
</body>

</html>