<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <script src="https://unpkg.com/vue@3.0.7"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>クムシフ <%= title %></title>
</head>
<body>
  <div>
    <a href="/logout"><%= user %>をログアウト</a> 
  </div>
  <div>
    <p>参加中の店舗</p>
    <div id="storeone">
      <span v-if="seen_1">
        <a href="/store/" + <%= storename_one %></a>
      </span>
    </div>
    <div id="storetwo">
      <span v-if="seen_2">
        <a href="/store/" + <%= storename_two %></a>
      </span>
    </div>
    <div id="storethree">
      <span v-if="seen_3">
        
      </span>
    </div>
  </div>
  <script src="javascripts/homepage.js"></script>
</body>
</html>