<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>aaa
  </title>
</head>

<body>
    <% userList.forEach(function (value){ %>
      <p><%= value %></p> 
      <% }); %>
      <% if(owner==="YES" ){ %>
        <p>未参加ユーザー</p>
        <% invitedUser.forEach(function (value) { %>
          <p><%= value %></p>
          <% }); %>
            <% } %>
</body>

</html>